* {
    margin: 0;
    padding: 0;
}


.container{
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    box-sizing: border-box;
    padding: 0 40px;
    margin: auto;
/*     
    border: 5px solid ;
    
    border-color: rgb(57, 194, 148); */

    
}


header .container{
    display: flex;
    flex-direction: row;
    
    height: 90px;
    border: none;
    /* background-color: rgba(33, 155, 33, 0.7)  34,139,34,0.7*/


    /* background: #fff url(../../assets/background/27622.png) center center/cover repeat ; */

    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,0.7) 0%, rgba(12,116,117,0.7) 90% );
    
    /* background: rgb(34,139,34);
background: linear-gradient(0deg, rgba(103,230,103,0.7) 0%, rgba(34,139,34,1) 100%); */


}
header .header-nav{
   
}
header h1{
    font-family: 'Tahoma';
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 0.06em;
    color: rgb(255, 255, 255);
    /* border: 1px solid rgb(255, 238, 0);  */
    margin-left: 5px;
    
}
header image{
    /* border: 2px solid rgb(25, 0, 255);  */
    filter: invert(1);
}
header .logo{
     /* border: 1px solid red;  */
    
     display: flex;
     flex-direction:row;
     align-items: center;
     z-index: 10;
    
    
} 

/* header .logo div{

     border: 1px solid yellow; 
    flex-direction: row;
    display: flex;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 10;
    
}  */
header  svg{
    /* border: 1px solid blue; */
   
}

a {
    color: inherit;
    text-decoration: none;
}


.ul{
    
    display: flex;
    flex-direction: row;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400px;
    
    /* margin: 10px 20px 30px 50px;*/
   
   /* border: 1px solid rgb(173, 86, 140);
*/
}
.li-active{
    margin: 10px 10px 10px 20px;
    color: rgb(219, 206, 206);
    list-style-type: none;
}
.li-active a{
    text-decoration: none;
    color: rgb(247, 247, 247);
     font-weight: bolder;


}
.header-nav a:hover{
    
    -webkit-text-decoration: underline solid #ffffff 3px;
    text-decoration: underline solid #ffffff 3px;
color: #FAFAFA;

}

/* _____________________________________________ */


.bar1,.bar2,.bar3{
    width: 30px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: 8px 0;
    transition: 0.4s;
     
}

.burger-menu{
    display: none;
}

.header-nav ul {
    display: flex;
    color: var(--color-dark-s);
    font-size: 15px;
    line-height: 24px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
}

.header-nav ul li {
    margin-right: 15px;
    list-style-type: none;
}

.header-nav ul li:last-child {
    margin-right: 0px;
}

.header-nav ul li a:hover {
    color: var(--color-light-s);
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.burger-logo {
    display: none;
}





/* 
_____________________________________________________
 */

.wrapper  {
    margin: auto;
    
    align-items: center;
    max-width: 1280px;
    box-sizing: border-box;
   max-width: 1280px;
   background: #000 url(../../assets/img1.akspic.ru-avto-gruzovik-doroga-trejler_telezhki_semi-skaniya-4096x3072.jpg);
   background-position: center;
   background-repeat: repeat;
  /*  background-size: cover;*/
  background-size: cover;
    height: 765px;
    width: 1280px;
    width: 100%;

    
    /*
    border: 10px solid blue;
    */
}
.start-screen .container{
    display: flex;
    align-items: flex-start;
}
.start-screen__text__block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top:250px ;
    color: rgb(255, 255, 255);
    font-size: 18px;
    /* border: 1px solid blue;
    background-color: paleturquoise;
     */
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    

    
}

.start-screen__text__block__sub{
    /* border: 1px solid orange; */
   margin-top: 30px;
   
}

.start-screen__text__block  h2 {
     font-family: 'Tahoma';
font-style: normal;
/* font-weight: 700;
font-size: 65px;
line-height: 80px;

color: #FFFFFF;  */

font-size: 50px;
color: #fff;
/* background: #000000; */
padding: 0 10px;
line-height: 56px;
-webkit-box-decoration-break: clone;
box-decoration-break: clone;


}

.spancol{
	
/* 	
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 10%, rgba(12,116,117, 1) 100% );
     */

    /* background: linear-gradient(135deg, rgba(37,219,237) 0%,rgba(183,60,210) 100%);
	 */
    
}

.itc-slider__item {

    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.itc-slider__item h3{

    margin-bottom:10px ;
    color: rgb(255, 255, 255);
   /* font-size: 18px;
     
     */
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
}


.spancoluer{
/* background: linear-gradient(135deg, rgba(37,219,237) 0%,rgba(183,60,210) 100%);
	 */


     background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,0.7) 0%, rgba(12,116,117,0.7) 90% );
    
}


.type-transport__list{
    display: flex;
    gap: 55px 120px;
    flex-wrap: wrap;
    padding: 0 85px;
    justify-content: center;
}
.type-transport h3{
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    margin: 1em;
    /* color: paleturquoise; */
}
.type-list__item{
    display: flex;
    align-items: center;
    
    
    -webkit-filter: hue-rotate(102deg);
    filter: rgba(14,174,87,0.7);

    flex-direction: column;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}
/*  */
.slider-info .container{
    padding: 0 ;
}
*::before,
    *::after {
      box-sizing: border-box;
    }
.itc-slider__wrapper {
    overflow: hidden;
  }

  .itc-slider__item {
    flex: 0 0 50%;
    max-width: 50%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 7rem;
  }

  .itc-slider__item:nth-child(1) {
    background-color: #03a9f4;

    background: #000 url(../../assets/slider1/antoine-beauvillain-0Kw44ElHN3A-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .itc-slider__item:nth-child(2) {
    background: #000 url(../../assets/slider1/geran-de-klerk-qzgN45hseN0-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .itc-slider__item:nth-child(3) {
  
    background: #000 url(../../assets/slider1/antoine-beauvillain-0Kw44ElHN3A-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .itc-slider__item:nth-child(4) {
 
    background: #000 url(../../assets/slider1/geran-de-klerk-qzgN45hseN0-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .itc-slider__item:nth-child(5) {
    background-color: #03a9f4;

    background: #000 url(../../assets/slider1/antoine-beauvillain-0Kw44ElHN3A-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

   
   /*  border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000; */
    background-color: #4caf50;
  }
/*  */


.footer__title{
   
}

.footer-svg{
    filter: invert(1);
}
footer .container{
    align-items: flex-start;
    color: white;
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    /* background: rgb(34,139,34);
background: linear-gradient(0deg, rgba(34,139,34,1) 0%, rgba(103,230,103,1) 100%); */


/* background: #fff url(../../assets/background/27622.png) center center/cover repeat; */

background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,0.7) 0%, rgba(12,116,117,0.7) 90% );
    


display: flex;
justify-content: space-between;

}
footer .footer__contacts{
    padding-top: 16px;
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    display: flex;
    flex-direction: column;
/*     
    padding-top: 16px;
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; */

}
.footer__contacts{
    padding-top: 16px;
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__info{
    padding-top: 16px;
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.footer__location{
    padding-top: 16px;
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer a:hover{
    
    -webkit-text-decoration: underline solid #F1CDB3 3px;
    text-decoration: underline solid #b3f1c8 3px;
color: #FAFAFA;

}
.about .container{
    display: flex;
    padding: 80px 10px 100px 10px;
    justify-content: center;
    align-items: center;
    gap: 120px;
}
.about__img{
    /* border: 5px solid red; */
  width: 300px;
    height: 408px;
   width: 50%;
   /* background: #000 url(../../assets/slider1/frank-mckenna-tjX_sniNzgQ-unsplash.jpg);
    */
   background: #fff url(../../assets/slider1/frank-mckenna-tjX_sniNzgQ-unsplash.jpg) center center/cover repeat;
/* 
   background-position: center;
   background-repeat: repeat;
    background-size: cover;
  background-size: cover; */
   margin: 20px 10px 20px 40px;
   /* -webkit-box-shadow:0px 0px 99px 30px #00ff55 ;
-moz-box-shadow:0px 0px 99px 30px #00ff55 ;
box-shadow:0px 0px 99px 30px #00ff55 ; */
-webkit-box-shadow: 13px 6px 8px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 13px 6px 8px 0px rgba(34, 60, 80, 0.2);
box-shadow: 13px 6px 8px 0px rgba(34, 60, 80, 0.2);
}
.about__text div{
   /*  border: 1px solid ;
    border-color: rgb(38, 61, 54); */
  
  
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: var(--color-dark-xl);
    margin-bottom: 25px;
   
}
.about__text {
    width: 50%;
  /* border: 1px solid orange;  */
  margin: 20px 40px 20px 10px;
}

.about__text p{
    
  /* border: 1px solid orange;  */
 
  
  font-family: 'Tahoma';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
    letter-spacing: 0.06em;
}

.about__text h3{
    width: 370px;
    margin-bottom: 25px;

    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: rgb(34,139,34);
}

/* ------------courses---------------------------------------------------
 */


  .courses .container {
    display: flex;
    justify-content: center;
    align-items: center;
    /*
    
    padding: 80px 10px 100px 10px;
    
    gap: 120px; */
}
.courses__img{
    /* border: 5px solid red; */
  width: 300px;
    height: 408px;
   width: 50%;
   /* background: #000 url(../../assets/slider1/frank-mckenna-tjX_sniNzgQ-unsplash.jpg);
    */
   background: #fff url(../../assets/slider1/frank-mckenna-tjX_sniNzgQ-unsplash.jpg) center center/cover repeat;
/* 
   background-position: center;
   background-repeat: repeat;
    background-size: cover;
  background-size: cover; */
   margin: 20px 10px 20px 40px;
   /* -webkit-box-shadow:0px 0px 99px 30px #00ff55 ;
-moz-box-shadow:0px 0px 99px 30px #00ff55 ;
box-shadow:0px 0px 99px 30px #00ff55 ; */
-webkit-box-shadow: 13px 6px 8px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 13px 6px 8px 0px rgba(34, 60, 80, 0.2);
box-shadow: 13px 6px 8px 0px rgba(34, 60, 80, 0.2);
}
.courses__text div{
   /*  border: 1px solid ;
    border-color: rgb(38, 61, 54); */
  
  
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: var(--color-dark-xl);
    margin-bottom: 25px;
   
}
.courses__text {
    width: 50%;
  /* border: 1px solid orange;  */
  margin: 20px 40px 20px 10px;
}

.courses__text p{
    
  /* border: 1px solid orange;  */
 
  
  font-family: 'Tahoma';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
    letter-spacing: 0.06em;
}

.courses__text h3{
    width: 370px;
    margin-bottom: 25px;

    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: rgb(34,139,34);
}
.courses__row{
flex-direction: row;
}
/* ------------------------------------------------------
 */
/*+++++++++++++++END++++++++++++++++++++*/

@media (max-width: 809px) and (min-width: 768px){
    /* .about__img {
        order: 1;
    }
    .about__text {
        padding-top: 0;
    } */



.burger-menu {
    display: none;
    cursor: pointer;
    z-index: 10;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 2px;
    background-color: var(--color-primary);
    margin: 8px 0;
    transition: 0.4s;
}

.open-menu .bar1 {
    -webkit-transform: rotate(-90deg) translate(-10px, -2px);
    transform: rotate(-90deg) translate(-10px, -2px);
}

.open-menu .bar2 {
    -webkit-transform: rotate(90deg) translate(0px, 14px);
    transform: rotate(90deg) translate(0px, 14px);
}


.open-menu .bar3 {
    -webkit-transform: rotate(90deg) translate(-10px, -10px);
    transform: rotate(90deg) translate(-10px, -10px);
}

.burger-logo {
    display: none;
}
}

@media (max-width: 767px) and (min-width: 320px){
      .burger-logo {
        display: block;
        position: absolute;
        top: 30px;
        left: 10px;
    }
    .burger-menu {
        display: inline-block;
    }
    .header-nav {
        display: flex;
        justify-content: flex-end;
        background:  rgba(41, 41, 41, 0.6);
        position: fixed;
        top: 0;
        right: -767px;
        width: 100%;
        height: 100%;
        transition: 1s;
        overflow-y: auto;
    }
    .header-nav ul {
        position: relative;
        height: calc(100vh - 90px);
        width: 320px;
        
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,0.7) 0%, rgba(12,116,117,0.7) 90% );
    
        /* background: var(--color-dark-3xl); */
        padding: 90px 0 90px 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        min-height: 400px;
    }
    .header-nav ul li {
        margin-right: 30px;
        font-size: 26px;
        line-height: 51px;
        /* color: var(--color-light-s); */
    }
    header {
        /* padding: 30px 0 0 0; */
    }
    .container {
        padding: 0 20px;
    }

    .start-screen__text__block  h2 {
        font-family: 'Tahoma';
   font-style: normal;
   /* font-weight: 700;
   font-size: 65px;
   line-height: 80px;
   
   color: #FFFFFF;  */
   
   font-size: 50px;
   color: #fff;
   /* background: #000000; */
   padding: 0 10px;
   line-height: 56px;
   -webkit-box-decoration-break: clone;
   box-decoration-break: clone;
   
   
   }
   
   .spancol{
       
   	
       background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 10%, rgba(12,116,117, 1) 100% );
       
   
        /* background: linear-gradient(135deg, rgba(37,219,237) 0%,rgba(183,60,210) 100%);
        
        */
   }

   .itc-slider__item h3{

    margin-bottom:10px ;
    color: rgb(255, 255, 255);
   /* font-size: 18px;
     
     */
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
}



header image{
    width: 90px;
}
header h1{
    font-weight: bolder;
}
   
    .about__img {
        /* border: 5px solid red; */
        width: 300px;
        height: 208px;
        width: 90%;
        margin: auto;
    }
    .about__text{
        width: 90%;
        font-size: 18px;
    }

    .about .container {
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .start-screen__text__block h2 {
        font-family: 'Tahoma';
        font-style: normal;
        font-size: 28px;
        color: #fff;
        /* background: #000000; */
        padding: 0 10px;
        line-height: 56px;}
    
    .about__text h3 {
        width: 200px;
        margin-bottom: 25px;
        font-family: 'Tahoma';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 45px;
        letter-spacing: 0.06em;
        color: rgb(34,139,34);
    }
    .about__text p {
       
        font-size: 20px;
       
    }

    footer {
        padding-top: 30px;
    }
    footer .container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 35px 30px;
    }
    .footer__contacts, .footer__locations {
        padding-top: 0;
    }

   
/* .footer h3 p{
    width: 370px;
    margin-bottom: 25px;
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: rgb(34,139,34);
} */
.mapyan{
    height: 700px;
}


}